<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean name="carDAO" class="dao.implementation.CarDAOImpl"></bean>

    <bean name="clientDAO" class="dao.implementation.ClientDAOImpl"></bean>

    <bean name="managerDAO" class="dao.implementation.ManagerDAOImpl"></bean>

    <bean name="contractDAO" class="dao.implementation.ContractDAOImpl" autowire="constructor">
        <constructor-arg index="0" ref="carDAO"></constructor-arg>
        <constructor-arg index="1" ref="clientDAO"></constructor-arg>
        <constructor-arg index="2" ref="managerDAO"></constructor-arg>
    </bean>

    <bean name="CarService" class="service.implementation.CarServiceImpl" autowire="byName">

    </bean>

    <bean name="ClientService" class="service.implementation.ClientServiceImpl" autowire="byName">

    </bean>

    <bean name="ManagerService" class="service.implementation.ManagerServiceImpl" autowire="byName">

    </bean>

    <bean name="ContractService" class="service.implementation.ContractServiceImpl" autowire="byName">

    </bean>

</beans>